<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {{ template "header.html" . }}
    <h1 class="mt-4 col-md-4">{{ .title }}</h1>
    <div class="row mt-4">
        {{ range .courses }}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ .ImgLink }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Description }}</p>
                        <a href="#" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
    <!-- {{ template "footer.html" . }} -->
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>